*{
    list-style-type: none;
   font-family: Georgia, Times, 'Times New Roman', serif;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}
.container{
    background-color: rgba(250, 247, 247, 0.932);
    height: 120vh;
    width: 100%;
}
.logo{
    color: black;
    width: 10%;
    font-size: 1rem;
    font-weight: bold;
    position: absolute; left: 100px;
    
}
.navbar{
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}
.nav,ul,li{
    /* color: black; */
    display: flex;
    /* gap: 1.5rem; */
   /* position: absolute; left: 300px; */
   margin: 10px;
    
}
nav ul li{
    font-size: 0.5rem;
    font-weight: 700;
    
}
.image{
    width: 100vh;
}
.image img{
    height: 90vh;
    width: 800px;
    position: absolute; top: 70px; left: 40%;
}.content{
    margin: 200px;
    color: white;
    width: 30%;
    position: absolute; left: 50px;
}
.content h4{
    color: black;
    margin: 10px 0px 10px 0px;
    font-size: 1rem;
    word-spacing: 2px;
    font-weight: 600;
}
.content h1{
color: black;
font-family:'Times New Roman', Times, serif;
font-size: 3rem;
word-spacing: 5px;
 margin: 10px 0px 10px 0px;
 width: 100vh;
}
.click{
    display:  flex;
    justify-content: space-between;
    align-items: center;
    width: 280px;
}
.click p{
     height: 20px;
         width: 100px;
         background: rgb(87, 39, 133);
         color: white;
         text-align: center;
         padding: 10px;
         cursor: pointer;
         border-radius: 20px;   
        word-spacing: 10px;
        margin: 250px;
        display: flex;
        position: absolute; top: 150px;
        margin-right: auto;
} 
.image2{
    width: 80%;
    height: 80px;
   display: flex;
   grid-template-columns: 30% 30% 30%;
    justify-content: space-around;
    align-items: center;
    gap: 8rem; 
    margin: 20px;
    position: absolute; top: 900px; left: 100px;
}
.image2 img{
    width: 80%;
    height: 150px;
}
.container2{
background-color: rgba(250, 253, 253, 0.76);
 height: 20vh;
 width: 100%;   
}
.logo2{
    color: black;
    width: 20%;
    font-size: 1.2rem;
    font-weight: bold;
    position: absolute; left: 60px;top: 180vh;
    gap: 10rem;
    margin-left: 20px;
    margin-bottom: 20px;
    
}
.nav2{
    height: 10vh;
    display: flex;
    margin: 10px;
    position: absolute; top: 180vh; left: 51px;
    /* justify-content: space-around; */
    /* align-items: center; */
   
}
#woman{
    color: black;
    position: absolute; left: 1px; top: 0;
    font-weight: bold;
}
#man{
   color: black;
    position: absolute; left: 410px; top: 0;
    font-weight: bold; 
}
#accessories{
    color: black;
    position: absolute; left: 800px; top: 0px;
    font-weight: bold;
}
    
.image3{
    width: 90%;
    height: 100px;
   display: grid; 
   grid-template-columns: 23% 23% 23% 23%;
    justify-content: space-around;
    align-items: center;
    gap: 0.1rem;
    position: absolute;top: 180vh;
    flex-wrap: wrap;
    margin: 70px;
}

/* .image3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
} */
.image3 img{
    width: 100%;
    height: 300px;
    
}

.load{
    display:  flex;
    justify-content: center;
    align-items: center;
    width: 280px;
}
.load p{
     height: 20px;
         width: 130px;
         background: gray;
         color: black;
         display: flex;
         padding: 10px;
         cursor: pointer;
         border-radius: 20px;   
        word-spacing: 10px;
        margin: 200px;
        font-weight: bold;
        position: absolute; top: 185vh; left: 27%;
} 
.container3{
    background-color: black;
    width: 99%;
    height: 50vh;
    margin: 10px 10px;
    margin-top: 270vh;
    position: relative; bottom: 50px;
    display: flex;
    justify-content: space-around;
    
}
.category{
    color: white;
    margin: 10px;
    gap: 0.1rem;
    line-height: 30px;
}
.help{
    color: white;
    margin: 10px;
    gap: 0.1rem;
    line-height: 30px;
}
.touch{
     color: white;
    margin: 10px;
    gap: 0.1rem;
    line-height: 30px;
}

.news{
    color: white;
    margin: 10px;
    gap: 0.1rem;
   
}

.sub{
     background: blueviolet;
     color: white;
     font-weight: bold;
     cursor: pointer;
     margin-bottom: 20px;
    border-radius: 30px;
    width: 180px;
    height: 40px;
    margin: 20px;
    position: absolute; right: 60px;
   
}
.image4{
   width: 20px;
    height: 30px;
    display: flex;
    justify-content: center;
    position: absolute; bottom: 10vh;
}
.copyright{
color: white;
    font-weight: bold;
    position: absolute; bottom: 15px;
    align-items: center;
    justify-content: center;
}
.fa-solid fa-magnifying-glass{
    width: 100px;
    color: red;
}
/* media query */
/* mobile */
/* tablet */
/* desktop */

